.parrafos-form{
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    width: 320px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}
.parrafos-form p{
    padding: 0;
    font-size: 14px;
    line-height: 2vh;
    letter-spacing: 0.05em;
    color: black;
    font-weight: 500;
}
.parrafos-form span{
    margin-left: 5px;
    color: #4338CA;
    font-weight: 600;
}
 