.contenedor-reactions{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-items: center;

}
.cont-button-reactions{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
   
}
.button-reaction{
    width: 60%;
    height: 4rem;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonReac{
    border: transparent;
    cursor: pointer;
    border-radius: 100px;
}
