
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120vh;
}

#profileBackground {
    background-image: url(../../../public/Rectangle_606.png);
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding-top: 3rem;
    width: 100%;
    color: white;
    font-size: 1.5rem;
}
#tituloAuthor {
    color: white;
    font-weight: bold;
}

.sectionProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgb(255, 255, 255);
    width: 95%;
    min-height: 50vh;
    position: static;
    margin-top: 25px;
    z-index: 100;
    border-radius: 1rem;
    margin-bottom: 3rem;
}


.profile {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}

.formEdit {
    width: 80%;
    height: 90%;
    margin: 0;
}

#profile-img {
    width: 10rem;
    height: 10rem;
    border-radius: 50px;
}

.data-author {
    width: 80%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 3rem;
    color: #9d9d9d;
}

#icon1 {
    height: 1rem;
    width: 1rem;
}

@media (min-width: 320px) and (max-width: 425px) {
     .contenedor { 
        width: 100vw;
        height: 190vh;

    } 
    #profileBackground {
       height: 10rem;
    }
    #tituloAuthor {
        display: none;
    }

    .sectionProfile {
        display: flex;
        justify-content: right;
        align-items: center;
        flex-direction: column-reverse;
        background: rgb(255, 255, 255);
        position: static;
        z-index: 100;
        border-radius: 1rem;
    }
}
@media (min-width: 424px) and (max-width: 748px) {

    #profileBackground {
        height: 14rem;
     }
     .contendor {
        height: 120vh;
     }
}
@media (min-width: 748px) and (max-width: 1024px){
    .contenedor {
        height: 140vh;
        
    }
  
    .profile {
        margin-bottom: 6rem;
    }
}

