i img{
    width: 3.563rem;
    height: 3.438rem;
    z-index: 100;
    background: transparent;
    display: block;
    cursor: pointer;
  }

  @media (min-width: 320px) and (max-width: 767px) {
    /* i img{
      width: 50px;
    } */

}