* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mover {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: rgb(250, 250, 250);
}
.imgChapter {
    height: 70vh;
    width: 30vw;
}

.div-chapter2 {
    background-color: #4338CA;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    height: 3rem;
}

.parrafo-chapter2 {
    color: white;
}

.contenedor-capitulos {
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.boton-back {
    z-index: 1;
    width: 30%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
    border: none;
}

.boton-next {
    position: relative;
    width: 30%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: right;
    align-items: center;
    border: none;

}

.posi {
    position: absolute;
    height: 50vh;
}

.div-chapter3 {
    background: #dbd9d9;
    padding: 0.6rem;
    margin-top: 1rem;

}

.chapter3 {
    display: flex;
    justify-content: center;
}

.parrafo-chapter3 {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: black
}

.comment {
    width: 2rem;
}

.icono-flecha {
    font-size: 20px;
    color: #000;
    position: relative;
    top: 5px;
    left: 5px;
}

.flecha {
    width: 2rem;
    cursor: pointer;
}

.flecha:hover {
    width: 3rem;
}
@media (min-width: 320px) and (max-width: 425px) {
    .imgChapter {
        width: 100vw;
        object-fit: cover;
    }
    .contenedor-capitulos {
        width: 100vw;
        display: flex;
        justify-content: flex-start;
        
        
    }
    .posi {
        width: 100vw;
        display: flex ;
    }
    .boton-next {
        left: 7.3rem;
    }
}