/* footer{
    min-height: 50vh;
}

.rectangulo-img-foother{
    background-image: url(../../../public/rectangle.png);
    background-size: cover;
    height: 30vh;
    border-radius: 0 0px 1000px 1000px;
} */